@font-face {
    font-family: Spartan;
    src: url(../LeagueSpartan-VariableFont_wght.ttf);
}

.busqueda input::placeholder {
    color: azure;
}

.barraBuscar {
    background-color: #3B5BA7;
}

body {
    font-family: Spartan;
}

.frame1 {
    display: flex;
    width: 171px;
    height: 37px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    background-color: #5da127f7;
    border-radius: 10px;
}

.frame1 .text-wrapper1 {
    position: relative;
    width: fit-content;
    margin-top: -1.5px;
    font-family: "Spartan-ExtraBold", Helvetica;
    font-weight: 800;
    color: #fffdfb;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.frame2 {
    display: flex;
    width: 171px;
    height: 37px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    background-color: #561bff75;
    border-radius: 10px;
}

.frame2 .text-wrapper2 {
    position: relative;
    width: fit-content;
    margin-top: -1.5px;
    font-family: "Spartan-ExtraBold", Helvetica;
    font-weight: 800;
    color: #fffdfb;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1600px;
    }
}

.button-container {
    display: inline-block;
    text-decoration: none;
    color: #000;
}

.habitats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 25px;
}

.habitats h5 {
    margin: 0;
    font-weight: 400;
}

.habitats i {
    margin-left: 10px;
}

@media (max-width: 1000px) {

    .habitats button,
    h5 {
        font-size: 0.7em;
    }

    .page-item a {
        font-size: 0.5em;
    }
}

.btn-filter-habitat.active h5,
#allHabitats.active h5 {
    content: "";
    display: block;
    border-bottom: 2px solid #3B5BA7;
    /* Color del subrayado */
    width: 100%;
    margin-top: 2px;
}

.btn {
    border-style: none;
}

.page-item {
    margin: 0 2px;
}

.page-link {
    background-color: #FFC107;
    color: #3B5BA7;
    border: 1px solid #007bff;
    transition: background-color 0.3s ease;
}

.page-item.active .page-link {
    background-color: #fff;
    color: #007bff;
}

.first-page-button,
.last-page-button {
    margin: 0 5px;
}

.page-item.disabled .page-link {
    background-color: #f8f9fa;
    color: #6c757d;
    border: 1px solid #dee2e6;
}