@font-face {
    font-family: Spartan;
    src: url(../LeagueSpartan-VariableFont_wght.ttf);
}

.busqueda input::placeholder {
    color: azure;
}

.barraBuscar {
    background-color: #3B5BA7;
}

body {
    font-family: Spartan;
}