@font-face {
    font-family: Spartan;
    src: url(../LeagueSpartan-VariableFont_wght.ttf);
}

.busqueda input::placeholder {
    color: azure;
}

.barraBuscar {
    background-color: #3B5BA7;
}

body {
    font-family: Spartan;
}

.frame1 {
    display: flex;
    width: 171px;
    height: 37px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    background-color: #5da127f7;
    border-radius: 10px;
}

.frame1 .text-wrapper1 {
    position: relative;
    width: fit-content;
    margin-top: -1.5px;
    font-family: "Spartan-ExtraBold", Helvetica;
    font-weight: 800;
    color: #fffdfb;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.frame2 {
    display: flex;
    width: 171px;
    height: 37px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    background-color: #561bff75;
    border-radius: 10px;
}

.frame2 .text-wrapper2 {
    position: relative;
    width: fit-content;
    margin-top: -1.5px;
    font-family: "Spartan-ExtraBold", Helvetica;
    font-weight: 800;
    color: #fffdfb;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1600px;
    }
}

.button-container {
    display: inline-block;
    text-decoration: none;
    color: #000;
}

.habitats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 25px;
}

.habitats h5 {
    margin: 0;
}

.habitats i {
    margin-left: 10px;
}

@media (max-width: 1000px) {
    .habitats h5 {
        font-size: 0.4em;
    }
}

/*
    JUGAR CON ESTO PARA LOS ESTILOS
..............................................................................
<div class="container">

  <div class="row">

    <div class="col-sm-4">

      <div class="overlap-group position-relative">

        <img 
          class="rectangle w-100" 
          src="img/rectangle-2.png">

        <img
          class="frame position-absolute"
          src="img/frame-1.png">

        <img 
          class="image position-absolute"
          src="img/image-3.png">

      </div>

    </div>

  </div>

</div>
.overlap-group {
  height: 333px; 
}

.rectangle {
  height: 130px;
  top: 37px;
}

.frame {
  height: 211px;
  top: 122px;  
}

.image {
  width: 87px;
  height: 102px;
  top: 0;
  left: 94px;
}

--------------------------------------------------------------------------------------
.carta {
    width: 185px;
    height: 130px;
    left: 0px;
    top: 38px;
    position: relative;
    background: white;
    border-radius: 20px
}

.letrero-carta {
    width: 150px;
    height: 30px;
    padding-left: 18px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    position: relative;
    background: #676767;
    box-shadow: 0px 2px 26px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
}

.idPokemon {
    text-align: center;
    color: #F993FB;
    font-size: 12px;
    font-family: Spartan;
    font-weight: 800;
    word-wrap: break-word
}

.namePokemon {
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: Spartan;
    font-weight: 800;
    word-wrap: break-word
}

.pokemonImg {
    width: 86.75px;
    height: 102.04px;
    left: 50.17px;
    top: 0px;
    position: absolute
}
*/